extends layout 

block content 
  .page_heading
    h1= "Category: " + category.name
    .toolbox 
      a(href="/category/" + category.id + "/delete")
        i.gg-trash
        span Delete
      a(href="/category/" + category.id + "/update")
        i.gg-edit-markup
        span Update
  .description
    p= category.description
  table 
    tr 
      th Item 
      th Description 
      th Price
      th ID
    each item in category.items
      tr 
        td.table_name
          a(href="/item/" + item.id)= item.name  
        td.table_description= item.description 
        td.price= item.price.toFixed(2) 
        td.table_id= item.id
  if error
    p.delete_error Can not delete category while items are still present.
