extends layout 

block content 
  h1= category.name
  table 
    tr 
      th Item 
      th Description 
      th Price
      th ID
    each item in category.items
      tr 
        td
          a(href="/item/" + item.id)= item.name  
        td= item.description 
        td.price= item.price 
        td= item.id
