extends layout 

block content 
  h1= category.name
  p.table_description= category.description
  table 
    tr 
      th Item 
      th Description 
      th Price
      th ID
    each item in category.items
      tr 
        td.table_name
          a(href="/item/" + item.id)= item.name  
        td.table_description= item.description 
        td.price= item.price 
        td.table_id= item.id
  if error
    p.delete_error Can not delete category while items are still present.
  p 
    a(href="/category/" + category.id + "/update") Update Category
  p 
    a(href="/category/" + category.id + "/delete") Delete Category 

