extends layout 

block content 
  h1= item.name
  div.item_container
    section 
      p.blurb= item.description
      p.price= item.price
    section.display
      img(src="/images/" + item.id + ".png", alt=item.name, height="auto", width="200px")
      div.category_container
        each category in item.categories 
          a(href="/category/" + category.id)= category.name
  p 
    a(href="/item/" + item.id + "/delete") Delete Item 
  p 
    a(href="/item/" + item.id + "/update") Update Item 
