extends layout 

block content 
  div.page_heading
    h1= "Item: " + item.name
    .toolbox 
      a(href="/item/" + item.id + "/delete")
        i.gg-trash
        span Delete
      a(href="/item/" + item.id + "/update")
        i.gg-edit-markup 
        span Update
  div.item_container
    .detail_container 
      div.category_container
        each category in item.categories 
          a(href="/category/" + category.id)= category.name
      section 
        p.blurb= item.description
        p.price= item.price.toFixed(2)
    section.display
      img(src="/images/" + item.id + ".png", alt=item.name, onerror="this.style.display = 'none'")
